set_prop(platform_app, ctl_default_prop);
set_prop(platform_app, shell_prop);

allow platform_app nfc_service:service_manager find;
allow platform_app sysfs_gpuclk:file { getattr open read };
allow platform_app property_socket:sock_file write;
allow platform_app sysfs_fastcharge:file { getattr open read };
allow platform_app init:unix_stream_socket connectto;

