#allow system_server device:chr_file rw_file_perms;
allow system_server graphics_device:chr_file r_file_perms;
allow system_server oncrpc_device:chr_file rw_file_perms;
allow system_server sensors_device:chr_file rw_file_perms;
allow system_server sysfs_mdp:file write;
allow system_server system_file:file execmod;

